#include "Simpledev.h"

1 DIALOG 200, 50, 225, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Simple I/O device (Simpledev.dll)"
FONT 8, "MS Sans Serif"
{
 CONTROL " Input (hex) ", -1, "button", BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE, 12, 7, 60, 50
 CONTROL " Output (hex) ", -1, "button", BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE, 80, 7, 60, 30
 CONTROL " Interrupts ", -1, "button", BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE, 149, 6, 66, 31
 CONTROL "Port A", -1, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 18, 20, 25, 8
 CONTROL "Port B", -1, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 19, 40, 25, 8
 CONTROL "Port C", -1, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 88, 20, 25, 8
 CONTROL "", IDC_PORT_A, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 47, 19, 16, 12
 CONTROL "", IDC_PORT_B, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 48, 38, 16, 12
 CONTROL "", IDC_PORT_C, "edit", ES_LEFT | ES_UPPERCASE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 117, 18, 16, 12
 CONTROL "5", IDC_INT5, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 161, 18, 18, 12
 CONTROL "6", IDC_INT6, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 186, 18, 18, 12
}


